MONGODB_URI=mongodb+srv://freedommk:<db_freedommk>@cluster0.oeyxbjf.mongodb.net/
HCH_MONGODB_URI="mongodb+srv://Vercel-Admin-handcrafthaven:Hxo5y6SWcpU4PAEg@handcrafthaven.w53dqbk.mongodb.net/?retryWrites=true&w=majority"

# NextAuth
NEXTAUTH_SECRET=a78150f1c64688aa5f2bb6f97558038349bedd62d8915ed45421ddebd345faef
NEXTAUTH_URL=http://localhost:3000
 
# Cloudinary (optional for now)
CLOUDINARY_CLOUD_NAME=dok9vurrf
CLOUDINARY_API_KEY=786279318884563
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=handcrafted_haven_preset

# Recommended for most uses
DATABASE_URL=postgresql://neondb_owner:npg_IpFEiNUR75Gw@ep-wandering-block-anwhoege-pooler.c-6.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_IpFEiNUR75Gw@ep-wandering-block-anwhoege.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-wandering-block-anwhoege-pooler.c-6.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-wandering-block-anwhoege.c-6.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_IpFEiNUR75Gw

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgresql://neondb_owner:npg_IpFEiNUR75Gw@ep-wandering-block-anwhoege-pooler.c-6.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_IpFEiNUR75Gw@ep-wandering-block-anwhoege.c-6.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-wandering-block-anwhoege-pooler.c-6.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_IpFEiNUR75Gw
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgresql://neondb_owner:npg_IpFEiNUR75Gw@ep-wandering-block-anwhoege-pooler.c-6.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_IpFEiNUR75Gw@ep-wandering-block-anwhoege-pooler.c-6.us-east-1.aws.neon.tech/neondb?channel_binding=require&connect_timeout=15&sslmode=require

# Secret for authentication (e.g., NextAuth.js)
AUTH_SECRET=PwYXJzLTBmjmt4EF9u0ePujoymqPlzAumLCR3+gchs4=